.nav {
    width: 1425px;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.text {
    display: flex;
    justify-content: space-between; /* เพิ่มบรรทัดนี้เพื่อจัดระยะระหว่างข้อความ */
    width: 50%; /* กำหนดความกว้างของ .text */
    color: rgb(255, 255, 255);
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}    

/* .text {
    display: flex;
    justify-content: center; // จัดข้อความให้อยู่กึ่งกลางในแนวนอน 
    align-items: center; // จัดข้อความให้อยู่กึ่งกลางในแนวตั้ง 
    flex-direction: column; // จัดเรียงข้อความในแนวตั้ง 
    width: 50%;
    color: aliceblue;
    text-align: center; // จัดข้อความให้กึ่งกลางในคอลัมน์ 
} */


.text p {
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease;
}

.text p:hover {
    color: #ffa200; /* ใส่สีที่ต้องการสำหรับ hover */
  }

.text p.active {
    color: #f2fd57;
    text-shadow: 0 0 10px #edf761;
    font-weight: bold;
}

.divider {
    width: 1px;
    height: 30px;
    background-color: aliceblue;
    opacity: 0.5;
}