/* .column-picture {
    background-color: #e2dfdf; 
  }
  
  .column-title {
    background-color: #bcbcbc; 
  }
  
  .column-price {
    background-color: #bcbcbc; 
  }
  
  .column-review {
    background-color: #bcbcbc;
  } */
  /* เปลี่ยนสีพื้นหลังของหัวตาราง */
.ant-table-thead > tr > th {
    background-color: #cfd1d2 !important; /* สีฟ้าอ่อน */
    color: #000; /* สีของข้อความในหัวตาราง */
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  }
  
  
  .custom-rate .ant-rate-star:hover,
  .custom-rate .ant-rate-star.ant-rate-star-full {
    color: #fcc200; /* สีเมื่อเลือกหรือ hover */
  }

  .custom-modal {
    /*border: 2px solid #1890ff; /* เปลี่ยนสีกรอบเป็นสีฟ้า */
    border-radius: 10px; /* ทำให้กรอบมีความโค้ง */
    /*background-color: #c54f4f; /* สีพื้นหลังของโมดัล */
  }
  
  .custom-rate .ant-rate-star {
    color: #d0d1d0; /* สีเทาเข้ม */
  }